<h1>ERROR 404</h1>

<hr>

<ul>
    <li>
        <a routerLink="/auth/login">
      Ir al login
    </a>
    </li>
</ul>

<ul>
    <li>
        <a routerLink="/auth/registro">
          Ir al registro
        </a>
    </li>
</ul>

<ul>
    <li>
        <a routerLink="/heroes/listado">
          Ir al listado de heroes
        </a>
    </li>
</ul>

<ul>
    <li>
        <a routerLink="/heroes/buscar">
        Ir al buscador de heroes
      </a>
    </li>
</ul>

<ul>
    <li>
        <a routerLink="/heroes/agregar">
      Agregar heroes
    </a>
    </li>
</ul>